body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.AppWrapper {
  margin: 2% 15% 10% 15%;
}

.default-table {
  margin-top: 5vh;
  width: 60%;
}

.default-table thead tr th {
  padding-right: 20px;
  padding-bottom: 10px;
}
.default-table tbody tr td {
  padding-right: 15px;
}
.default-table tbody tr td a {
  margin-right: 15px;
}

form.form {
  margin-top: 15px;
}
form.form span {
  margin-bottom: 15px;
}
form.form div.form-item {
  flex: 1;
  flex-direction: row !important;
  margin-top: 22px;
}
form.form div.form-item input[type="checkbox"] {
  margin-left: 30px;
}
.send-button {
  margin-top: 30px;
  margin-right: 10px;
}

.disabled-input {
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
